{% extends "layout.html" %}

{% block content %}
<!-- Here can write all code for Home-->
<div class="card text-center mt-5 py-2">
    <div class="card-header">
        About Us
    </div>
    <div class="card-body">
        <img src="static\user.png" class="rounded mx-auto my-3" style="width: 150px;" alt="img">
        <h5 class="card-title">Ratan Kumar</h5>
        <h6>Student of Indian Institute of Technolgy Patna </h6>
        <p class="card-text">Ipsam hic vitae sunt incidunt commodi quibusdam pariatur saepe
            deleniti distinctio! Harum vero consectetur modi doloribus fugit. Saepe cum reprehenderit excepturi
            ipsam?Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi recusandae dolore explicabo accusantium
            animi hic numquam rem, mollitia voluptates eligendi porro inventore earum corrupti quidem tempora neque
            amet? Eius, obcaecati. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptate quos debitis eum
            ipsum, aut molestias perspiciatis aspernatur optio. Perspiciatis omnis architecto accusamus, corporis
            doloremque dicta temporibus cum repellat aspernatur commodi.
        </p>
    </div>
</div>


{% endblock %}